
// box sizing

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// links

a,
a:visited {
	color: $link-colour;
	text-decoration: none;
}

a:hover,
a:active,
a:visited:hover {
	color: $link-hover-colour;
}

// images

a img {
	border: none;
}

img {
	height: auto;
	max-width: 100%;
}

// lists

ul,
ol {
	margin-left: gutter(12);
}

// quotes

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
	font-style: italic;
	font-weight: 400;
	position: relative;
	margin: 0 0 0 gutter(12);

	&:before {
		font-size: 80px;
		content: '“';
		display: block;
		font-family: 'Lobster', cursive;
		position: absolute;
		left: -45px;
		top: 17px;
		font-style: normal;
		color: $grey;

		@include respond-above( 'large' ) {
			//left: -90px;
			//top: 64px;
			//font-size: 180px
		}
	}
}

// forms

// text selection

::-moz-selection
	{
	background: darken($link-colour, 5%);
	color: #fff;
	text-shadow: none;
	}

::selection
	{
	background: darken($link-colour, 5%);
	color: #fff;
	text-shadow: none;
	}