
// font styles
// experimenting with these at the moment

body {
	font-family: "fira-sans-2", sans-serif;
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "jaf-bernina-sans-comp", sans-serif;
	font-style: normal;
	font-weight: 700;
}

// responsive font sizes

h1,
.text--mega {
	@include responsive-text-size('mega');
}

h2,
.text--kilo {
	@include responsive-text-size('kilo');
}

h3,
.text--hecto {
	@include responsive-text-size('hecto');
}

h4,
.text--deca {
	@include responsive-text-size('deca');
}

h5,
h6,
body,
.text--base {
	@include responsive-text-size('base');
}

.text--deci {
	@include responsive-text-size('deci');
}

small,
.text--centi {
	@include responsive-text-size('centi');
}

