
// font styles

@import url(https://fonts.googleapis.com/css?family=Lato:700italic,700,400|Open+Sans:400,400italic,600,600italic);

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

// responsive font sizes

h1,
.text--mega {
	@include responsive-text-size('mega');
	letter-spacing: -0.05em;
}

h2,
.text--kilo {
	@include responsive-text-size('kilo');
}

h3,
.text--hecto {
	@include responsive-text-size('hecto');
}

h4,
.text--deca {
	@include responsive-text-size('deca');
}

h5,
h6,
body,
.text--base {
	@include responsive-text-size('base');
}

.text--deci {
	@include responsive-text-size('deci');
}

small,
.text--centi {
	@include responsive-text-size('centi');
}

