
// colours

$grey: #cccccc;

$body-font-colour: #383838;

$link-colour: #8E0000;
$link-hover-colour: #000;

// responsive breakpints

$breakpoints: (
	'small':	480px,
	'medium':   720px,
	'large':	960px,
	'x-large':  1280px
);

// font sizes

$text-sizing: (
	'centi': (
		'small': (
			'font-size': 12px,
			'line-height': 16px
		)
	),
	'deci': (
		'small': (
			'font-size': 14px,
			'line-height': 20px
		)
	),
	'base': (
		'small': (
			'font-size': 16px,
			'line-height': 26px
		),
		'large': (
			'font-size': 17px,
			'line-height': 32px
		),
		'x-large': (
			'font-size': 18px,
			'line-height': 33px
		)
	),
	'deca': (
		'small': (
			'font-size': 18px,
			'line-height': 26px
		),
		'large': (
			'font-size': 20px,
			'line-height': 30px
		)
	),
	'hecto': (
		'small': (
			'font-size': 22px,
			'line-height': 28px
		),
		'large': (
			'font-size': 24px,
			'line-height': 32px
		)
	),
	'kilo': (
		'small': (
			'font-size': 24px,
			'line-height': 32px
		),
		'large': (
			'font-size': 28px,
			'line-height': 36px
		)
	),
	'mega': (
		'small': (
			'font-size': 30px,
			'line-height': 35px
		),
		'large': (
			'font-size': 36px,
			'line-height': 44px
		)
	)
);

// layout

$susy: (
	flow: ltr,
	math: fluid,
	output: float,
	gutter-position: after,
	container: auto,
	container-position: center,
	columns: 12,
	gutters: .5,
	column-width: false,
	global-box-sizing: border-box,
	last-flow: to,
	debug: (
		image: hide,
		color: rgba(#ccc, 1),
		output: background,
		toggle: top right,
	),
	use-custom: (
		background-image: true,
		background-options: false,
		box-sizing: true,
		clearfix: false,
		rem: true,
	)
);

