
// footer

#colophon {
	@include clearfix();
	border-top: 1px solid $grey;
	padding-top: gutter(12) * 2;
	margin-top: gutter(12) * 2;
}

#footer-widgets {
	@include container( breakpoint('large') );

	.widget-title {
		text-align: center;
		margin-bottom: gutter(12) * 3;
		margin-top: 0;
	}
}

.footer-widgets-block {
	margin-bottom: gutter(12);
}

/*

Add the following HTML to Footer Widget Area 1
Logos will be add via CSS as SVG - each list item will need its own class

<!-- super admin -->

<ul class="sponsors level0">
	<li class="sponsor-jetpack"><a href="http://jetpack.com">Jetpack</a></li>
</ul>

<!-- administrator -->

<ul class="sponsors level1">
	<li class="sponsor-yoast"><a href="https://yoast.com/">Yoast</a></li>
	<li class="sponsor-sitelock"><a href="https://www.sitelock.com/">Sitelock</a></li>
	<li class="sponsor-godaddy"><a href="https://godaddy.com">GoDaddy</a></li>
</ul>

<!-- editor -->

<ul class="sponsors level2">
	<li class="sponsor-woocommerce"><a href="http://www.woothemes.com/woocommerce/">WooCommerce</a></li>
	<li class="sponsor-sucuri"><a href="https://sucuri.net/">Sucuri</a></li>
	<li class="sponsor-wpengine"><a href="https://wpengine.com/">WP Engine</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
</ul>

<!-- subscriber & author -->

<ul class="sponsors level3">
	<li class="sponsor-managewp"><a href="https://managewp.com/">Manage WP</a></li>
	<li class="sponsor-dreamhost"><a href="https://www.dreamhost.com/">Dreamhost</a></li>
	<li class="sponsor-pragmatic"><a href="https://www.pragmatic-web.co.uk/">Pragmatic</a></li>
	<li class="sponsor-inpsyde"><a href="http://inpsyde.com/en/">Inpsyde</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="sponsor-ithemes"><a href="https://ithemes.com/">iThemes</a></li>
	<li class="sponsor-codeable"><a href="https://codeable.io/">Codeable</a></li>
	<li class="sponsor-meregistry"><a href="#">ME Registry</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
</ul>

<!-- small business -->

<ul class="sponsors level4">
	<li class="sponsor-savvii"><a href="https://www.savvii.eu/">Savvii</a></li>
	<li class="sponsort-deliciousbrains"><a href="https://deliciousbrains.com/">Delicious Brains</a></li>
	<li class="sponsor-mensmaximus"><a href="https://mensmaximus.de/">mensmaximus</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
	<li class="no-sponsor"><a href="#">Sponsor</a></li>
</ul>
*/

#footer-widgets .sponsors {
	@include clearfix();
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		height: 100px;
		text-align: center;
		background: $grey;
		margin-bottom: gutter(12);

		a {
			display: block;
			height: 100%;
		}
	}

	&.level0 li {
		@include gallery(12 of 12);
	}

	&.level1 li {
		@include respond-above( 'small' ) {
			@include gallery(4 of 12);
		}
	}

	&.level2 li {
		@include gallery(6 of 12);

		@include respond-above( 'medium' ) {
			@include gallery(3 of 12);
		}
	}

	&.level3 li {
		@include gallery(4 of 12);

		@include respond-above( 'medium' ) {
			@include gallery(2 of 12);
		}
	}

	&.level4 li {
		height: auto;
		background: none;

		@include gallery(4 of 12);

		@include respond-above( 'medium' ) {
			@include gallery(2 of 12);
		}
	}

}

/*

Add the following HTML to Footer Widget Area 2
This will form a list of social media buttons for WCEU

<ul class="social-media">
	<li class="twitter"><a href="#">Twitter</a></li>
	<li class="facebook"><a href="#">Facebook</a></li>
	<li class="email"><a href="#">Email</a></li>
</ul>

*/

#footer-widgets .social-media {
	@include clearfix();
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		height: 60px;
		width: 60px;
		background: $grey;
		border-radius: 50%;
		margin-right: gutter(12);
		margin-bottom: gutter(12);

		&:last-child {
			margin-right: 0;
		}

		a {
			@include text-hide();
			display: block;
			height: 100%;
		}
	}
}

/*

Add a custom menu to Footer Widget Area 3

*/

#footer-widgets .widget_nav_menu {
	ul {
		@include clearfix();
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		padding-bottom: gutter(12);

		li {
			display: inline;
			margin-right: gutter(12);

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

// site info / credits

.site-info {
	@include container( breakpoint('large') );

	.site-info-generator {
		@include sr-only();
	}

	.site-info-network {
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin: 0 auto;
		background: $link-colour;
		text-indent: -99999px;
		margin-bottom: gutter(12);
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 30px;
			height: 100px;
			background: $link-colour;
			position: absolute;
			left: 50%;
			margin-left: -15px;
		}
	}
}