
// header

#masthead hgroup {
	background: #ccc;
	height: 260px;
}

// make it large on home

.home {
	height: 100%;

	#page,
	#masthead {
		height: 100%;
		margin-bottom: 60px; // height of navigation
	}

	#masthead hgroup {
		height: 100%;
	}

}

// site title

.site-title {
	margin: 0;
	width: 350px;
	height: 180px;
	background: $link-colour;
}

// site description

.site-description {
	@include sr-only();
}

// #masthead

#masthead {
	margin-bottom: 30px;
}