// theme classes

.assistive-text {
	@include sr-only();
}

.edit-link {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;

	a {
		@include button;
	}
}

.button {
	@include button();
}

// html

html {

}

// body

body {
	//background: fade-out($offwhite, .5);
}

// wrap the main content in a container to match large breakpoint

#main {
	@include container( breakpoint('large') );
}

#content {
	padding-top: gutter(12) * 3;
}

.search-results,
.archive,
.single,
.page {

	#content {
		padding-top: gutter(12) * 2;
	}
}

// padding at smaller devices

.main-navigation .menu,
#main,
#footer-widgets {
	padding: 0 15px;

	@include respond-above( 'x-large' ) {
		padding: 0;
	}

}

// posts

.post {
	.entry-title {
		margin: 10px 0 3px 0;
	}

	.entry-meta {
		color: $grey;

		a {
			color: $green;
		}

		a:hover {
			color: $blue;
		}
	}

	.entry-header {
		margin-bottom: gutter(12);
	}

	footer.entry-meta {
		text-align: center;
		margin-bottom: ( gutter(12) * 2 );
	}

	.button {
		max-width: 350px;
		margin: 0 auto;
		text-align: center;
	}

	img {
		transition: all 0.2s ease-in-out;

		&:hover {
			filter: grayscale(100%);
		}
	}
}

// single post

.single .post {
	.entry-header {
		margin-bottom: gutter(12) * 2;
	}
}

.sharedaddy {
	margin: ( gutter(12) * 2 ) 0;

	h3 {
		@include sr-only();
	}

	.sd-content {
		text-align: center;
		margin: 0 auto;
	}
}

.sd-content ul {
	margin-bottom: 0 !important;
}

#nav-above,
.single #nav-below {
	display: none;
}

// post archive

.search-results,
.archive,
.blog {

	.page-title {
		margin-top: 0;
		margin-bottom: gutter(12) * 2;
		text-align: center;
	}

	.sharedaddy {
		margin: gutter(12) 0 0 0;
	}
}

.search-results .page-title span {
	color: $gold;
}

.search-results .post,
.archive .post,
.blog .post {
	margin-bottom: gutter(12) * 2;
	padding-bottom: gutter(12) * 2;
	border-bottom: 1px solid $offwhite;

	footer.entry-meta {
		display: none;
	}

	&:last-child {
		border: none;
		margin: 0;
		padding: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.wp-caption .wp-caption-text {
		@include respond-above( 'medium') {
			bottom: -20px;
		};
	}
}

.paging-navigation {
	@include clearfix();

	.nav-previous {
		float: left;
	}
	.nav-next {
		float: right;
	}
}

// pages

body.page {
	.entry-title {
		margin-top: 10px;
		margin-bottom: gutter(12) * 2;
		text-align: center;
	}

	img {
		transition: all 0.2s ease-in-out;

		&:hover {
			filter: grayscale(100%);
		}
	}
}

// speakers
// organisers

.wcorg-speaker,
.wcorg-organizer {
	margin-bottom: gutter(12) * 3;

	@include respond-above( 'medium' ) {
		@include gallery(6 of 12);

		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
	}

	h2 {
		position: relative;
		top: 120px;
		text-align: center;
	}

	img {
		border-radius: 50% !important;
		margin: 0 auto;
		display: block;
		position: relative;
		top: -60px;
	}
}

// single speaker

.single-wcb_speaker {

	.wcb_speaker {
		.entry-meta {
			display: none;
		}

		h1 {
			position: relative;
			top: 100px;
			text-align: center;
		}

		img {
			border-radius: 50% !important;
			margin: 0 auto;
			display: block;
			position: relative;
			top: -80px;
		}
	}
}

// attendees

#tix-attendees .tix-columns-3 li {
	width: 100%;
}

#tix-attendees {
	@include clearfix();

	.avatar {
		border-radius: 50% !important;
		float: none;
		margin: 0 auto 10px;
	}

	.tix-attendee-name {
		@include responsive-text-size('deca');
		font-family: 'Lato', sans-serif;
		font-weight: bold;
	}

	.tix-field {
		margin-left: 0;
		text-align: center;
	}

	.tix-attendee-list li {
		margin-bottom: gutter(12)*2;
		height: auto;

		@include respond-above( 'medium' ) {
			@include gallery(6 of 12);
		}

		@include respond-above( 'large' ) {
			@include gallery(4 of 12);
		}

		@include respond-above( 'x-large' ) {
			@include gallery(3 of 12);
		}

		p {
			margin: 0;
			line-height: 1.8;
		}

		.tix-attendee-url {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

body.admin-bar #tix {
	padding-top: 0px;
}

// sponsors

.wcorg-sponsors {

	h2 {
		@include clearfix();
		@include responsive-text-size('base');
		margin-bottom: gutter(12) * 2;
		text-align: center;
		color: $green;
		position: relative;
		// http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+39,ffffff+40,ffffff+60,ffffff+61,ffffff+100&amp;0+0,0+39,0+39,1+40,1+60,0+61,0+100
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 39%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 61%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 39%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 39%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			left: 0;
			height: 1px;
			background: $offwhite;
			margin-top: 1px;
			top: 50%;
			z-index: -1;
		}

		&:first-letter {
			text-transform: capitalize;
		}
	}

	.wcorg-sponsor {

		h3 {
			display: none;
		}

		.wcorg-sponsor-description p {
			display: none;
		}

		img {
			border-radius: 0 !important;
		}
	}

	// large
	.wcorg-sponsor-level-administrator,
	.wcorg-sponsor-level-after-party,
	.wcorg-sponsor-level-super-admin {
		@include clearfix();
		margin-bottom: gutter(12) * 3;

		.wcorg-sponsor {

			@include respond-above( 'small' ) {
				@include span(4 of 12);

				&:nth-child(3n) {
					@include last;
				}
			}
		}
	}

	// medium
	.wcorg-sponsor-level-speakers-dinner,
	.wcorg-sponsor-level-author,
	.wcorg-sponsor-level-editor {
		@include clearfix();
		margin-bottom: gutter(12) * 3;

		.wcorg-sponsor {
			@include span(6 of 12);

			&:nth-child(2n) {
				@include last;
			}

			@include respond-above( 'small' ) {
				@include span(3 of 12);

				&:nth-child(4n) {
					@include last;
				}
			}
		}
	}

	// small
	.wcorg-sponsor-level-subscriber,
	.wcorg-sponsor-level-small-business {
		@include clearfix();
		margin-bottom: gutter(12) * 3;

		.wcorg-sponsor {
			@include span(4 of 12);

			&:nth-child(3n) {
				@include last;
			}

			@include respond-above( 'small' ) {
				@include span(2 of 12);

				&:nth-child(6n) {
					@include last;
				}
			}
		}
	}

	// tiny
	.wcorg-sponsor-level-microsponsor {
		@include clearfix();
		margin-bottom: gutter(12) * 3;

		.wcorg-sponsor {
			@include span(3 of 12);

			&:nth-child(4n) {
				@include last;
			}

			@include respond-above( 'small' ) {
				@include span(1 of 12);

				&:nth-child(12n) {
					@include last;
				}
			}
		}
	}
}

// single sponsor

.single-wcb_sponsor {

	#main {
		img {
			border-radius: 0px;
		}

		.entry-title {
			text-align: center;
			position: relative;
			top: -250px;
		}

		.wp-post-image {
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: 90px;
		}
	}
}

// contact form

.contact-submit {
	margin-top: 0;
}

.contact-form textarea {
	width: 100% !important;
}

.grunion-field-label span {
	@include responsive-text-size('deci');
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
	max-width: none !important;
	width: 100% !important;

	@include respond-above( 'medium' ) {
		width: 50% !important;
	}
 }

// social media stream

.tggr-actions a:hover,
.tggr-media-item a:hover {
	text-decoration: none;
	border: none;
}

.tggr-author-name {
	color: $blue;
}

.tggr-media-item {
	border-color: $blue;
}

.tggr-author-username {
	color: $green;
}

.tggr-timestamp {
	@include responsive-text-size('centi');
}

#tggr-loading-new-posts {
	color: #fff;

	img {
		margin: 0 auto;
	}
}

// tickets

.tix-notice {
	background: transparent;
	border-color: $gold;
	color: $gold;
	padding: 20px;
}

.tix-error {
	background: transparent;
	border-color: $red;
	color: $red;
	padding: 20px;
}

.tix-ticket-excerpt {
	@include responsive-text-size('deci');
	display: none;

	@include respond-above( 'medium' ) {
		display: block;
	}
}

.tix-right input[type=email],
.tix-right input[type=text],
.tix-right input[type=url],
.tix-right textarea {
	width: 100%;
}

.tix_tickets_table th[colspan='2'] {
	padding: 15px;
}

.tix_tickets_table .tix-column-per-ticket,
.tix_tickets_table .tix-column-remaining {
	width: 0px;
	text-indent: -99999px;

	@include respond-above( 'medium' ) {
		width: auto;
		text-indent: 0;
	}
}

.tix_tickets_table td {
	vertical-align: middle;
}

.tix-required-star {
	color: $red;
}

.tix-order-summary {
	margin-bottom: gutter(12)*2;
}

select[name='tix_payment_method'] {
	@include sr-only;
}

.tix-row-coupon {
}

// 404 page

.post.error404 {
	text-align: center;
	padding-bottom: gutter(12);

	.widget {
		display: none;
	}

	#searchform .field {
		margin-bottom: gutter(12);
	}
}

// jepack galleries
.gallery-row {
	margin-left: auto;
	margin-right: auto;
}
