// setup layout

@include layout( $susy );

// theme classes

.assistive-text {
	@include sr-only();
}

.edit-link {
	position: fixed;
	bottom: 30px;
	right: 30px;

	a {
		@include button;
	}
}

// wrap the main content in a container to match large breakpoint

#main {
	@include container( breakpoint('large') );
}

#content {
	padding-top: gutter(12) * 3;
}

// padding at smaller devices

.main-navigation .menu,
#main,
#footer-widgets {
	padding: 0 15px;

	@include respond-above( 'x-large' ) {
		padding: 0;
	}

}

// posts

.post {
	.entry-title {
		margin: 0 0 3px 0;
	}

	.entry-meta {
		color: $grey;

		a {
			color: fade-out( $link-colour, 0.5 );
		}

		a:hover {
			color: $link-hover-colour;
		}
	}

	.entry-header {
		margin-bottom: gutter(12);
	}

}

.sharedaddy {
	margin: ( gutter(12) * 2 ) 0;


	h3 {
		@include sr-only();
	}

	.sd-content {
		text-align: center;
		margin: 0 auto;
	}
}

// post archive

.blog .post {
	margin-bottom: gutter(12) * 3;
	padding-bottom: gutter(12) * 3;
	border-bottom: 1px solid $grey;

	footer.entry-meta {
		display: none;
	}

	&:last-child {
		border: none;
		margin: 0;
		padding: 0;
	}
}

// pages

.page {
	.entry-title {
		margin-bottom: gutter(12) * 3;
		text-align: center;
	}
}

// organisers

.wcorg-organizer {
	margin-bottom: gutter(12) * 3;

	@include respond-above( 'medium' ) {
		@include gallery(6 of 12);

		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
	}

	h2 {
		position: relative;
		top: 120px;
		text-align: center;
	}

	img {
		border-radius: 50%;
		margin: 0 auto;
		display: block;
		position: relative;
		top: -60px;
	}
}
