// absolute position for home

.home .main-navigation,
.home .main-small-navigation {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.home .main-small-navigation {
	top: 0;
	bottom: auto;
	z-index: 100;
}

// shared

.main-navigation,
.main-small-navigation {
	@include clearfix();
	background: $green;
	font-family: 'Lato', sans-serif;

	a {
		display: block;
		text-decoration: none;
		color: #fff;
	}

	a:hover,
	a:focus {
		color: $blue;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: $blue;
		color: #fff;
	}
}

// mobile navigation

.main-small-navigation {

	.menu-toggle {
		@include responsive-text-size('deca');
		margin: 0;
		padding: 0;
		cursor: pointer;
		text-align: center;
		color: #fff;
		letter-spacing: normal;
		padding: 15px 0;

		&.toggled-on {
			background: $red;
		}
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: none;

		li {

			a {
				padding: 7px 15px;
			}

		}
	}
}

// desktop navigation

.main-navigation {
	height: 60px;
	overflow: hidden;

	.assistive-text {
		@include sr-only();
	}


	// caution - this class changes with the menu name
	.menu-main-menu-container {
		//@include container( breakpoint('large') );
		display: table;
		width: 100%;

		@include respond-above( 'x-large' ) {
			table-layout: fixed;
		}
	}

	.menu {
		@include responsive-text-size('deca');
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		display: table-row;

		> li {
			display: table-cell;
			text-align: center;
		}

	}

	a {
		display: block;
		text-decoration: none;
		color: #fff;
		padding: 17px 7px;

		@include respond-above( 'large' ) {
			padding: 15px 7px;
		}
	}

	a:hover,
	a:focus {
		color: $blue;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: $blue;
		color: #fff;
	}
}

