.comments-title {
	@include sr-only();
}

#respond {
	margin: 0 auto;
	background: $offwhite;
	max-width: 600px;
	padding: 30px;
	border-radius: 30px;
	position: relative;

	&:before {
		@include triangle(top, $offwhite, 20px);
		display: block;
		position: absolute;
		top: -20px;
		left: 50%;
		margin-left: -10px;
	}

	.comment-notes {
		@include sr-only();
	}

	#reply-title {
		@include responsive-text-size('deca');
		margin-top: 0;

		#cancel-comment-reply-link {
			@include responsive-text-size('base');
			float: right;
		}
	}

	.comment-subscription-form {
		margin: 0;

		label {
			font-weight: normal;
		}
	}

}

.comment-form {
	.required {
		color: $link-colour;
	}
	label {
		display: block;
		font-weight: bold;

	}
	input {
		width: 100%;
	}
}

.commentlist {
	border-top: 1px solid $offwhite;
	padding-top: gutter(12)*2;
	list-style-type: none;
	padding-left: 0;
	margin: 0;

	.children {
		list-style-type: none;
		padding-left: 0;
		.comment {
		}
	}
	> .comment > .children {
		padding-left: 46px;
	}

	#respond {
		margin-bottom: gutter(12)*2;
	}
}

.pingback {
	margin-bottom: gutter(12)*2;
	display: none;
}

.comment {
	margin-bottom: gutter(12)*2;
	position: relative;

	&-author {
		@include responsive-text-size('deca');
		font-family: 'Lato', sans-serif;
		font-weight: bold;
		display: inline-block;
	}
	.fn {
		font-style: normal;
	}

	footer em {
		color: $red;
		padding: 15px;
		position: absolute;
		background: fade-out(#fff, 0.1);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0%;
		padding: 5px 15px 15px 15px;
		text-align: center;
	}

	.avatar {
		border-radius: 100%;
		display: inline-block;
		vertical-align: middle;
		width: 50px;
		float: left;
		margin-right: 15px;
	}
	.says {
		display: none;
	}
	&-meta {
		margin-top: -25px;
		margin-left: 64px;

		a {
			color: $grey;
		}

		@include respond-above(small) {

		}
	}
	&-content {

	}
	.reply {
		@include responsive-text-size('deci');
	}
}