#respond {
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 1em;
	border: 1px solid $grey;
	border-radius: 3px;
	background-color: lighten( $grey, 15% );

	.comment-reply-title {
		margin-top: 0;
	}
	.children & {
		background-color: white;
		margin-top: 0;
	}
}

.comment-form {
	.required {
		color: $link-colour;
	}
	label {
		display: block;
		font-weight: bold;
		@include respond-above(small) {
			float: left;
			width: 6em;
			margin-right: 1em;
			padding-top: .4em;
			text-align: right;
		}
	}
	input[type=submit] {
		border: none;
		@include respond-above(small) {
			margin-left: 7em;
		}
	}
	input[type=email],
	input[type=text] {
		border: 1px solid $grey;
		padding: .5em;
		@include respond-above(small) {
			width: 17em;
		}
	}
	textarea {
		border: 1px solid $grey;
		padding: .5em;
		width: 100%;
		height: 7em;
		@include respond-above(small) {
			width: 17em;
		}
		@include respond-above(medium) {
			width: 25em;
		}
	}
}

.commentlist {
	list-style-type: none;
	padding-left: 0;
	max-width: 45em;
	.children {
		list-style-type: none;
		padding-left: 0;
		.comment {
			background-color: lighten( $grey, 17% );
			padding: .5em;
		}
		.comment-content,
		.reply {
			padding-left: 0;
		}
	}
	> .comment > .children {
		padding-left: 46px;
	}
}

.comment {
	&:not(article) {
		border-bottom: 1px solid $grey;
		margin-bottom: 1em;
	}
	&:last-of-type {
		border-bottom: 0;
	}
	&-author {
		display: inline-block;
		margin-right: 1em;
		line-height: 40px;
		font-size: 1.3em;
	}
	.fn {
		font-style: normal;
	}
	.avatar {
		border-radius: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	.says {
		display: none;
	}
	&-meta {
		margin-top: -1em;
		margin-left: 46px;
		font-size: .8em;
		a {
			color: #aaa;
		}
		@include respond-above(small) {
			margin-top: 0;
			margin-left: 0;
			line-height: 45px;
			float: right;
		}
	}
	&-content {

		padding-left: 46px;
		font-size: .8823529412em;
		line-height: 1.4;
	}
	.reply {
		padding-left: 46px;
		margin-bottom: 1em;
	}
}