.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignleft,
a img.alignleft {
	width: 100%;

	@include respond-above( 'medium' ) {
		margin: 5px 30px 20px 0;
		float: left;
		width: auto;
	}

	.wp-caption-text {
		@include respond-above( 'medium') {
			//bottom: -33px !important;
		};
	}
}

.alignright img,
.alignleft img {
	@include img-fluid();
}

.alignright,
a img.alignright {
	width: 100%;

	@include respond-above( 'medium' ) {
		margin: 5px 0 20px 30px;
		float: right;
		width: auto;
	}

	.wp-caption-text {
		@include respond-above( 'medium') {
			//bottom: -33px !important;
		};
	}
}


.wp-caption.alignnone {
	width: 100%;
	max-width: 100%;
}

.wp-caption.alignnone img,
img.alignnone {
	@include img-fluid();

	@include respond-above( 'x-large' ) {
		margin: 0 0 0 -10%;
		width: 120%;
		max-width: none;
	}
	//width: 100%;
	//min-width: 100%;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	text-align: center;
	position: relative;
	width: 100% !important;

	@include respond-above( 'medium') {
		margin-bottom: 50px;
		width: auto !important;
	}

	.wp-caption-text {
		@include responsive-text-size('deci');
		border-radius: 30px;
		background: $gold;
		display: block;
		width: auto;
		padding: 7px 15px;
		font-style: italic;
		color: #fff;

		@include respond-above( 'small' ) {
			padding: 11px 30px;
		}

		@include respond-above( 'medium') {
			position: absolute;
			bottom: -33px;
		};
	}
}

.screen-reader-text {
	@include sr-only();
}

.screen-reader-text:focus {
	@include sr-only-focusable();
	z-index: 100000; // above WP toolbar
}
