
.alignnone {

}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}


.wp-caption.alignnone {
	width: 100%;
	max-width: 100%;
}

.wp-caption.alignnone img,
img.alignnone {
	@include img-fluid();

	@include respond-above( 'x-large' ) {
		margin: 0 0 0 -10%;
		width: 120%;
		max-width: none;
	}
	//width: 100%;
	//min-width: 100%;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	text-align: center;
	position: relative;

	@include respond-above( 'medium') {
		margin-bottom: 40px;
	}

	.wp-caption-text {
		@include responsive-text-size('deci');
		border-radius: 30px;
		background: $offwhite;
		display: block;
		width: auto;
		padding: 7px 15px;
		font-style: italic;

		@include respond-above( 'small' ) {
			padding: 11px 30px;
		}

		@include respond-above( 'medium') {
			position: absolute;
			bottom: -33px;
		};
	}
}

.wp-caption.alignnone {
	//margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	//margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	//margin: 5px 0 20px 20px;
}

.screen-reader-text {
	@include sr-only();
}

.screen-reader-text:focus {
	@include sr-only-focusable();
	z-index: 100000; // above WP toolbar
}
